[submodule "3rdparty/zxing-cpp"]
	path = 3rdparty/zxing-cpp
	url = https://github.com/char8/zxing-cpp.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/cpr"]
	path = 3rdparty/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "3rdparty/args"]
	path = 3rdparty/args
	url = https://github.com/Taywee/args.git
[submodule "3rdparty/CImg"]
	path = 3rdparty/CImg
	url = https://github.com/dtschump/CImg.git
